.slideshow-slider {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
    display: flex;
    flex-direction: row;
}

.slide {
    margin-top: 30%;
    width: 70%;
    height: 100px;
    border-radius: 20px;
}

.slide h3 {
    text-align: center;
    margin: 0 auto;
}